doctype html
html(lang='es')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../../../favicon.ico')
    title Login 
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../css/signin.css', rel='stylesheet')
    script(src='../js/jquery.min.js')
    script(src='../js/app/login.js')
  body(style="background-image: url('/img/login_background.jpeg'); background-size cover;")
    .row(style="width: 100%; height: 100vh; margin:0;")  
      .form-cnt.text-center.align-items-center.justify-content-center(style="width: 100%; background-color: #000000b5; display: flex;")
        form.form-signin#login
          h1.h3.mb-3.font-weight-normal(style="color:#f8f9fa") SISTEMA DE CONTROL DE GASTOS E INGRESOS
          label.sr-only(for='inputEmail') Email address
          input#inputEmail.form-control(type='email', name='email', placeholder='Email address', required='', autofocus='',style="margin-bottom:4px;")
          label.sr-only(for='inputPassword') Password
          input#inputPassword.form-control(type='password', name='password', placeholder='Password', required='',style="margin-bottom:12px;")
          button#button-login.btn.btn-lg.btn-primary.btn-block(type='submit',style="background-color:#28a745;border-color:#28a745b0") Sign in
          p.mt-5.mb-3.text-muted(style="color:#f8f9fa!important;") © 2018-DoApps
    
  
