doctype html
html(lang='en')
  head
    title Bootstrap Example
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    .container
      h2 Crear Nuevos Usuarios
      p Registros:
      table.table.table-striped
        thead
          tr
            th ID
            th Nombre
            th Apellido
            th Correo
            th Contraseña
            th Rol
            th Estado
            th Fecha de Creacion
            th Fecha de Actualización
        
        tbody
          tr
            td John
            td Doe
            td john@example.com
            td John
            td Doe
            td john@example.com
            td John
            td Doe
            td john@example.com
          tr
            td Mary
            td Moe
            td mary@example.com
            td John
            td Doe
            td john@example.com
            td John
            td Doe
            td john@example.com
          tr
            td July
            td Dooley
            td july@example.com
            td John
            td Doe
            td john@example.com
            td John
            td Doe
            td john@example.com
